{% extends 'base.html' %}
{% load static %}
{% block title %}{{filme.nome}}{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block content%}
<br />  
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{filme.imagem.url}}" alt="Poster" /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">Filme</div>
                        <h1 class="display-5 fw-bolder">{{filme.nome}}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">R${{filme.preco}}</span>
                            <span>R${{filme.preco}}</span>
                        </div>
                        <p class="lead">{{filme.sinopse}}</p>
                        <br >
                        <p class="lead">Elenco: {{filme.elenco}}</p>
                        <br >
                        <div class="d-flex" style="justify-content: space-around;">
<a href="/">

    <button class="btn btn-outline-dark flex-shrink-0" type="button">
        <i class="bi-cart-fill me-1"></i>
        Comprar
    </button>
</a>
                            <a href="{{filme.trailer}}">

                                <button class="btn btn-outline-dark flex-shrink-0">
                                    <i class="bi-youtube me-1"></i>
                                    Assistir trailer
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Mídias relacionadas</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for filme in filmes %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">NOVO</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="{{filme.imagem.url}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{filme.nome}}</h5>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <p class="card-text">COMPRE POR {{filme.preco}}</p>
                                </div>
                                <br />
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'detail' filme.id%}">Saiba mais</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

      
{% endblock %}