{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content%}
<br />

      {% if query %}
        <h3>Resultados para "{{query}}"</h3>
        <div class="trending-carrousel">
          {% for result in results %}
            <div class="card" id="card-carrousel-item">
              <img
                class="card-img-top"
                src="{{result.imagem.url}}"
                alt="imagem filme"
              />
              <div class="card-body">
                <h6 class="card-title">{{result.nome}}</h6>
                <p class="card-text">COMPRE POR {{result.preco}}</p>
                <hr />
                <a
                  href="{% url 'detail' result.id %}"
                  class="btn btn-primary"
                  id="btn-card-footer"
                  >Saiba mais</a
                >
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
      
      {% if filmes.0.poster.url is local %}
      <div class="text-post">
        <h1 style=" color: #eb1d36; font-weight: bolder; letter-spacing: 5px">
          Cadastre um filme em Admin
        </h1>
      </div>
      {% else %}
      </div>
      <div
        class="container-lg"
        id="main-post"
        style="background-image: url({{filmes.0.poster.url}})"
      >
        <div class="text-post">
          <h1 style="font-weight: bolder; letter-spacing: 5px">
            {{filmes.0.nome}}
          </h1>
          <h3>Por apenas R${{filmes.0.preco}}</h3>
          <br />
          <a href="{% url 'detail' filmes.0.id %}"
            ><span>Clique para mais detalhes</span></a
          >
        </div>
      </div>
      {% endif %}
      <br />
      <div class="container-xlg" id="trending">
        <div class="trending-text">
          <h2><a href="#">Filmes</a></h2>
        </div>
        <br />
        <div class="trending-carrousel">
          {% for filme in filmes %}
          <div class="card" id="card-carrousel-item">
            <img
              class="card-img-top"
              src="{{filme.imagem.url}}"
              alt="imagem filme"
            />
            <div class="card-body">
              <h6 class="card-title">{{filme.nome}}</h6>
              <p class="card-text">COMPRE POR {{filme.preco}}</p>
              <hr />
              <a
                href="{% url 'detail' filme.id %}"
                class="btn btn-primary"
                id="btn-card-footer"
                >Saiba mais</a
              >
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      
{% endblock %}