{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block search %}
  <form action="/" method="get">
    <input 
    type="search" 
    name="q"
    placeholder="  Pesquise algum filme ou série..."
    style="border: none; border-radius: 10px; width: 70%; height: 35px" />
    <button
      type="submit"
      href="/"
      id="buttonGo"
      class="btn btn-secondary"
    >
      <span>Ir</span>
    </button>

  </form>

{% endblock %}
{% block content%}
<br />
<div
        class="container-lg"
        id="main-post"
        style="background-image: url('{% static 'images/black_panther_main_post.png' %}')"
      >
        <div class="text-post">
          <h1 style="font-weight: bolder; letter-spacing: 5px">
            bLACK PANTHER
          </h1>
          <h3>ESTREIA DIA 10.11</h3>
          <br />
          <a href="#black-panther-modal"
            ><span>Clique para mais detalhes</span></a
          >
        </div>
      </div>
      <br />
      {% if query %}
        <h3>Resultados para "{{query}}"</h3>
        {% for obra in obras %}
          <p>{{obra.nome}}</p>
        {% endfor %}
      {% endif %}
      
      {% for filme in filmes %}
        <p>{{filme.nome}}</p>
      {% endfor %}
      
{% endblock %}